{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Leaderboard API",
    "description": "Leaderboard API"
  },
  "host": "leaderboard.alexdana.me",
  "basePath": "/leaderboard/",
  "tags": [
    {
      "name": "Leaderboard",
      "description": "API for users in the system"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/add/{playerName}": {
      "post": {
        "tags": [
          "Leaderboard"
        ],
        "description": "Create or update new score for a particular username in system",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "playerName",
            "in": "path",
            "required": true,
            "description": "Player's name",
            "schema": {
              "type": "string",
              "example": "Alex"
            }
          },
          {
            "name": "score",
            "in": "body",
            "required": true,
            "description": "Player' score",
            "schema": {
              "properties": {
                "score": {
                  "type": "integer",
                  "example": 135
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/top": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "description": "Get current top (3 bests score)",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "minItems": 0,
              "maxItems": 3,
              "items": {
                "$ref": "#/definitions/Player"
              }
            }
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    },
    "/rank/{playerName}": {
      "get": {
        "tags": [
          "Leaderboard"
        ],
        "description": "Get current place in the leaderboard and number of player",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "playerName",
            "in": "path",
            "required": true,
            "description": "Player's name",
            "schema": {
              "type": "string",
              "example": "Alex"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Rank"
            }
          },
          "500": {
            "description": "Unexpected error."
          }
        }
      }
    }
  },
  "definitions": {
    "Player": {
      "required": [
        "name",
        "score"
      ],
      "properties": {
        "name": {
          "type": "string",
          "uniqueItems": true,
          "example": "Alex"
        },
        "score": {
          "type": "integer",
          "example": 125
        }
      }
    },
    "Rank": {
      "required": [
        "name",
        "score",
        "rank",
        "total"
      ],
      "properties": {
        "name": {
          "type": "string",
          "uniqueItems": true,
          "example": "Alex"
        },
        "score": {
          "type": "integer",
          "example": 125
        },
        "rank": {
          "type": "integer",
          "example": 3
        },
        "total": {
          "type": "integer",
          "example": 1100025
        }
      }
    }
  }
}
